.App{
  display: flex;
  align-items: center;
  justify-content: center;
}
.App div{
  margin: 2%;
}
textarea {  
  width: 40vw;
  height: 40vh;
  margin: 2%;
}
button{
  text-align: center;
  display: block;
  margin: auto;
  padding: .5% 3%;
  border: none;
  background: black;
  color: aliceblue;
}
p{
  text-align: center;
}